a{
    text-decoration: none;
    font-size: 55px;
    color: white;
    font-family: "comic sans MS","comic sans" cursive;
}
body{
    background-color: brown;
    color: white;
    font-size: 25px;

}